{% extends "base.html" %}

{% block title %}راهنما{% endblock %}

{% block content %}
        {% load static %}
        <div class="text-frame">
            <h1>راهنمای پزشک خودکار:</h1>
            <hr/>
            <h2 id="What-is-it">پزشک خودکار چیست؟</h2>
            <p>
                پزشک خودکار، وب اپلیکیشنی است که به کاربران امکان تشخیص بیماری ها بر اساس تصویر را می‌دهد. 
                در حال حاضر، پزشک خودکار تشخیص سه نوع سرطان پوست ملانوما، سرطان سلول بازال و سرطان سلول سنگ‌فرشی را پشتیبانی می‌کند. 
                در آینده، بیماری های دیگری نیز توسط این وب اپلیکیشن پشتیبانی خواهند شد.
            </p>
            <h2 id="How-to-use">چگونه از پزشک خودکار استفاده کنیم؟</h2>
            <h3 id="register">1- ثبت‌نام</h3>
            <p>ابتدا به <a href="/register" target="_blank">صفحه ثبت‌نام</a> مراجعه و فرم ثبت‌نام را پر کنید و بر دکمه ثبت‌نام کلیک کنید.</p>
            <img src="{% static 'register_help.png'%}" class="img-slider">
            <br><br>
            <p>
                پس از انجام ثبت‌نام، ایمیلی برای شما ارسال می‌شود. برای تایید ایمیل خود، لینک درون ایمیل را باز کنید.
            </p>
            <img src="{% static 'email_help.png'%}" class="img-slider">
            <br><br>
            <p>پس از باز کردن لینک، حساب کاربری شما تایید می‌شود.</p>
            <h3 id="login">2- ورود به حساب کاربری</h3>
            <p>
                پس از ثبت‌نام، به <a href="/login" target="_blank">این لینک</a> مراجعه کنید و وارد حساب کاربری خود شوید.
            </p>
            <img src="{% static 'login_help.png'%}" class="img-slider">
            <br><br>
            <h3 id="dashboard">3- بارگذاری و پردازش تصاویر</h3>
            <p>برای بارگذاری تصویر و تشخیص بیماری مرتبط با آن، بر روی دکمه پردازش تصویر جدید، کلیک کنید.</p>
            <img src="{% static 'create_help.png'%}" class="img-slider">
            <br><br>
            <p>
                در فرم باز شده، تصویر خود را آپلود و ابزار مرتبط با تصویر را انتخاب کنید. سپس بر روی دکمه ایجاد را کلیک کنید.
            </p>
            <img src="{% static 'create_form_help.png'%}" class="img-slider">
            <br><br>
            <p>
                پس از بارگذاری تصویر، می‌توانید نتایج وب اپلیکیشن را در پنل کاربری خود مشاهده کنید.
            </p>
            <img src="{% static 'see_result_help.png'%}" class="img-slider">
            <br><br>
            <p>
                همچنین، با استفاده از گزینه های زیر تصویر، می‌توانید اقدام به حذف یا دانلود تصویر کنید.<br>
                گزینه دیگر نیز به نام مشاوره وجود دارد که با کلیک بر آن، می‌توانید مطالبی درمورد بیماری شناسایی شده بدست آورید.
            </p>
            <h3 id="logout">4- خروج از حساب کاربری</h3>
            <p>برای خروج از حساب کاربری، بر روی دکمه خروج که در سمت چپ نوار فهرست است، کلیک کنید.</p>
            <img src="{% static 'logout_help.png'%}" class="img-slider">
            <br><br>
        </div>
{% endblock %}
