<style>
    .button {
        border-radius: 2px;

    }

    .button a {
        padding: 8px 12px;
        border: 1px solid #ED2939;
        border-radius: 2px;
        font-size: 14px;
        color: #ffffff;
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
    }
</style>

<div style="text-align: right">
    <h1>سلام {{ user.username }}</h1>
    <h3>.برای تغییر رمز عبور خود، بر روی لینک زیر کلیک کنید</h3>
    <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="button" bgcolor="#ED2939">
                            <a  class="link" href="https://{{ domain }}/{{'password_reset'}}/{{uid}}/{{token}}" target="_blank">
                            تغییر رمز عبور
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <h3>.اعتبار این لینک دو ساعت میباشد</h3>
</div>